@import "../../../assets/scss/mixins";

:host {
  margin: 1rem 2rem;
  width: 100%;

  .cart-items-container {
   display: flex;
   align-items: center; 
   flex-direction: column;
  }

  .cart-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 2rem;
    box-shadow: 0px 0px 8px #ccc;
    margin-bottom: 1rem;
    border-radius: 20px;

    @include tablet {
      max-width: 800px;
    }

    img {
      width: 150px;
      max-height: 150px;
      object-fit: cover;
      border-radius: 10px;
    }

    span {
      font-size: 1.3rem;
      color: #444444;

      &.price {
        font-weight: bold;
      }
    }
  }

  a {
    color: var(--root_main_color);
  }
  
  .cart-purchase-button {
    max-width: 300px;
    margin: auto;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
  }
}
